body{
    overflow-x: hidden;
}


.color{
    background-color: #2c3e50;

   
}

.font{
 font-size: large;
 font-weight: bold;
}
.font-1{
     font-size: xx-large;
     font-weight: bold;
}
.item1{
    border: 1px white solid;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    
}

footer{
     background-color: #2c3e50; 
     text-align: center;
}
.size{
    padding-top: 20px;
    font-weight:bold;
    font-size: x-large;
}

.p6{
    padding: 70px;
}

.slid-color{
    background-color: #1a252f;
}

.mt-6{
   padding-top: 200px;
   padding-bottom: 300px;
    height: 50vh;
}

.bg{
    background-color: #1abc9c
;
}

.border1 {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc; 
    outline: none;
}


.border1:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc; 
    outline: none; 
}


.border1:hover {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc; 
}
.ms-6{
    margin-left: 270px;
}
.ms-7{
    margin-left:450px;
}

.mt-8{
       padding-top: 120px;
   padding-bottom: 300px;
   background-color: #1abc9c;
   
}


/* =================================================================== */
.long-line {
  position: relative;
  display: inline-block;
  font-size: 30px;
  padding: 10px 20px;
}


.long-line::after,
.long-line::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 120px;
  height: 4px;
  background-color: var(--line-color, black);
  transform: translateY(-50%);
}

.long-line::before {
  left: -110px;
}

.long-line::after {
  right: -110px;
}


/* ============================================================================= */

.vh-1{
    height: 160vh;
}

.size1{
    width: 110%;
}
.nav-link:focus, .nav-link:hover {
border: 2px solid  #1abc9c;
border-radius: 20px;
background: #1abc9c;
}



/* ============================================== */
.image-container {
  position: relative;
}

.layer__ {
  background-color: rgba(0, 128, 0, 0.5); 
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container:hover .layer__ {
  opacity: 1;
}

/* =========================== */
.modal-content {
  border: none !important;
  border-radius: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
}

